.img{
    text-align: center;
    margin-bottom: 10px;
}
.logo{
    text-align: center;
    margin-top: 15px;
    width: 20%;
   
}
nav{

    text-align: center;
    background-color: rgb(37, 4, 37);
    padding: 20px 10px;
}
nav a{

    text-decoration: none;
    padding: 20px 10px;
    color:rgb(245, 248, 248);
    font-size: 20px;

}
nav a:hover{
    color:aqua;
   
}